body {
    font-family: Arial, Helvetica, sans-serif;
}

.weather-app-wrapper {
    max-width: 800px;
    margin: 60px auto;
}

.weather-app {
    padding: 40px 10px;
    border: 1px solid rgb(238, 234, 234);
    border-radius: 20px;
    box-shadow: rgb(214, 211, 211) 10px 5px 5px;
}
.search {
    margin-left: 30px;
}

.info {
    margin: 40px;
}
.city-name, .weather-description {
    color: rgb(42, 87, 89);
    font-size: 26px;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

.current-date, .current-weather-description {
    list-style: none;
    line-height: 1.1;
    color: rgb(106, 101, 101);
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.current-temperature img {
    height: 80px;
    width: 80px;
    margin-right: 0px;  
}

.degrees {
    color: rgb(42, 87, 89);
    font-size: 48px;
    line-height: 80px;
}

.celcius-link, .fahrenheit-link {
    font-size: 16px;
    text-decoration: none;
}

.active {
    color: rgb(42, 87, 89);
    cursor: default;
}

.active:hover {
    text-decoration: none;
}
.current-temperature {
    position: relative;
    line-height: 60px;
}

.weather-forecast {
    text-align: center;
}

.week-day {
    font-size: 18px;
}

.weather-forecast img {
    height: 80px;
    width: 80px;
    display: block;
    margin: auto;
    margin-top: -20px;
}

.min-temperature {
    color: rgb(106, 101, 101);
}

.Git-Hub-Link {
    display: block;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 30px;
}

.Git-Hub-Link a {
    text-decoration: none;
}